$icon-font-path: "/bower_components/sass-bootstrap/fonts/";
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,300italic,400italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
@import 'bs';
@import 'theme';

@media (max-width: 800px) {
  .container{
    background-color: rgba(255,255,255,1);
  }
}

.skills-list ul {
  margin-bottom: 20px;
}
.profile-pic {
  -webkit-box-shadow: 3px 3px 5px 4px rgba(0,0,0,.1);
  box-shadow: 3px 3px 5px 4px rgba(0,0,0,.1);
  border: 6px solid white;
}

.span9 p{
  text-align: justify;
}